img {
    max-width: 100%;
    vertical-align: middle;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
}

header, main, footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    border-bottom: 1px solid #000098;
}

footer {
    border-top: 1px solid #000098;
    margin: 20px 0 0 0;
}

footer p {
    font-size: 0.7em;
    color: #888888;
    text-align: right;
    padding: 0 10px;
    margin: 10px 0;
    width: 100%;
}

menu {
    display: flex;
    padding: 10px;
    background: #000098;
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

menu a, menu span {
    color: #ffffff;
    font-size: 0.6em;
    text-decoration: none;
    cursor: pointer;
}

menu a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    width: 70%;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
}

section .logos{
    margin: 20px 0;
    padding: 0;
    text-align: center;
}

section h1 {
    width: 100%;
    text-align: center;
    color: #000098;
    font-size: 1.5em;
    margin: 20px 0;
    padding: 0;
}

section .alert {
    border: 1px solid;
    width: 80%;
}

section .alert p {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: 0.8em;
    font-weight: bold;
}

section .alert.error {
    border-color: #ff0000;
    color: #ff0000;
    background: #FFC3C3;
}

section .alert.success {
    border-color: #5ABD70;
    color: #5ABD70;
    background: #B8EBC3;
}

section form {
    width: 100%;
}

section .ligne, section .button {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px 0 0 0;
    align-items: center;
}

section .ligne label {
    width: 20%;
    color: #666666;
    font-size: 0.8em;
    padding: 0 10px 0 0;
    text-align: right;
}

section .ligne span {
    color: #666666;
    font-size: 0.8em;
    padding: 0 0 0 10px;
}

section .ligne input {
    width:40%;
    color: #888888;
    font-size: 0.8em;
    padding: 3px;
    border: 1px solid #000098;
}

section .ligne input:focus, section .ligne select:focus{
    box-shadow: 1px 1px 5px 0 #000098 !important;
}

section .ligne input.error, section .ligne select.error {
    box-shadow: 1px 1px 5px 0 #ff0000;
    border: 1px solid #ff0000;
}

section .ligne input[type=checkbox] {
    width: auto;
}

section .ligne input[type=file] {
    border: none;
}

section .ligne select {
    width: calc(40% + 8px);
    color: #888888;
    font-size: 0.8em;
    padding: 3px;
    border: 1px solid #000098;
}

section .button span {
    background: #000098;
    font-size: 1em;
    color: #ffffff;
    padding: 10px 25px;
    cursor: pointer;
}

section .button span:hover {
    background: #fff100;
    color: #000;
}

@media screen and (max-width: 1280px) {
    section {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    section {
        width: 94%;
    }

    section .ligne label {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    section .ligne {
        flex-wrap: wrap;
    }

    section .ligne label {
        width: 100%;
        padding: 0 0 5px 0;
        text-align: left;
    }

    section .ligne input {
        width: 100%;
    }

    section .ligne select {
        width: 100%;
    }
}