img {
    max-width: 100%;
    vertical-align: middle;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
}

header, main, footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    border-bottom: 1px solid #086B8C;
    justify-content: space-between;
}

footer {
    border-top: 1px solid #086B8C;
    margin: 20px 0 0 0;
}

footer p {
    font-size: 0.7em;
    color: #888888;
    text-align: right;
    padding: 0 10px;
    margin: 10px 0;
    width: 100%;
}

menu {
    display: flex;
    padding: 10px;
    background: #086B8C;
    margin: 0;
    justify-content: flex-start;
    width: 100%;
}

menu a, menu span {
    color: #ffffff;
    font-size: 0.6em;
    text-decoration: none;
    cursor: pointer;
}

menu a:hover, menu span:hover {
    text-decoration: underline;
    color: #E0A005;
}

section {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
}

section .logos{
    margin: 20px 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ffffff;
}

section h1 {
    width: 100%;
    text-align: center;
    color: #E0A005;
    font-size: 1.5em;
    margin: 20px 0;
    padding: 0;
}

section .alert {
    border: 1px solid;
    width: 80%;
}

section .alert p {
    text-align: center;
    margin: 0;
    padding: 15px 0;
    font-size: 0.8em;
    font-weight: bold;
}

section .alert.error {
    border-color: #ff0000;
    border-radius: 5px;
    color: #ff0000;
    background: #FFC3C3;
}

section .alert.success {
    border-color: #5ABD70;
    border-radius: 5px;
    color: #5ABD70;
    background: #B8EBC3;
}

section form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section .ligne {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0 0;
    align-items: flex-start;
}

section .ligne.special {
    width: 100%;
    order: 1;
    padding: 0 10px;
}

section .button {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 15px 0 0 0;
    align-items: center;
    order: 2;
}

section .ligne label {
    width: 100%;
    color: #086B8C;
    font-size: 0.8em;
    text-align: left;
}

section .ligne span {
    color: #086B8C;
    font-size: 0.8em;
    padding: 0 0 0 10px;
}

section .ligne input {
    width:100%;
    color: #666666;
    font-size: 0.8em;
    padding: 5px;
    border: 1px solid #086B8C;
    border-radius: 5px;
    margin: 5px 0 0 0;
}

section .ligne input:focus, section .ligne select:focus{
    box-shadow: 1px 1px 5px 0 #086B8C !important;
}

section .ligne input.error, section .ligne select.error {
    box-shadow: 1px 1px 5px 0 #ff0000;
    border: 1px solid #ff0000;
}

section .ligne input[type=checkbox] {
    width: auto;
}

section .ligne input[type=file] {
    border: none;
}

section .ligne select {
    width: 100%;
    color: #666666;
    font-size: 0.8em;
    padding: 3px;
    border: 1px solid #086B8C;
    border-radius: 5px;
}

section .button span {
    background: #E0A005;
    font-size: 1em;
    color: #ffffff;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
}

section .button span:hover {
    background: #086B8C;
}

@media screen and (max-width: 768px) {
    section .ligne {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    section .ligne {
        width: 100%;
        padding: 0 10px;
    }
}